header.page-header {
  z-index: 998; /* 999 is top */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* This darkens and blends the background */
  background: rgba(0, 0, 0, 0.4) url(/images/bg.jpg);
  /* source: https://steamuserimages-a.akamaihd.net/ugc/1016067628656126735/DDC973F0E54452551ED5266EE61227C55C354066/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor= */
  background-blend-mode: darken;
  background-size: cover;

  /* flex-basis: 0; */
  /* flex-grow: 1 */
}

.profile-pic {
  display: flex;
  flex: auto;
}

img.pfp {
  object-fit: contain;
  min-height: 2em;
}

.header-username {
  text-shadow: 4px 4px #0000ff;
}