nav {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  min-height: 120px;
  height: 5em;
  width: 100%;
  padding: 1em;
  z-index: 999; /* 999 is top */
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  padding: 1em;
  font-size: 1.7em;
}

.new-link {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.7em;
  margin-right: 1.5em;
  height: 100%;
  /* border: 0.2em solid #854b6c; */

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.new-link .fas {
  color: #ff0000;
  height: 1em;
}

.new-link .fas:hover {
  animation: bounce linear infinite 0.7s;
}

/* Button to return to top */
.btn-return-top {
  position: fixed;
  height: 5vw;
  min-height: 1.5em;
  width: 5vw;
  min-width: 1.5em;
  bottom: calc(2.5vw + 0.1em);
  right: calc(2.5vw + 0.1em);
  border-radius: 50%; 
  background-color: #854b6c;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animation for btn-return-top */
@keyframes bounce {
  0%{
    padding-top: 0;
    padding-bottom: 10px;
  }
  
  50%{
    padding-top: 10px;
    padding-bottom: 0;
  }
  
  100%{
    padding-top: 0;
    padding-bottom: 10px;
  }
}

/* Scroll div for IntersectionObserver */
.scroll-helper {
  height: 1px;
}