nav {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  min-height: 120px;
  height: 8vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999; /* 999 is top */
}

.logo {
  display: flex;
  padding: 1.5em;
  font-size: 1.7em;
}

.new-link {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.7em;
  padding: 1.5em;
  flex-flow: column nowrap;
  text-align: center;
}

.fas {
  color: #ff0000
}